/* * {
    border: solid 2px green;
} */

body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(41, 36, 71);
    padding: 0 12em;
}

header {
    display: flex;
    justify-content: center;
    border-bottom: solid 1px rgb(233, 233, 233);
}

header img {
    width: 10%;
    padding: 2em 0;
}

.welcome {
    margin: 16em 0;
    text-align: center;
    font-size: 1em;
    font-weight: normal;
    color: rgb(233, 233, 233);
}

.hello {
    color:rgb(255, 163, 24);
    font-size: 8em;
    font-weight: bold;
}

.click {
    color:rgb(255, 163, 24);
    font-weight: bold;
}

a {
    color: rgb(233, 233, 233);
    text-decoration: none;
}

a:hover {
    color:rgb(255, 163, 24);
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    margin-bottom: 7em;
}

article h1 {
    font-size: .8em;
}

article img {
    width: 100%;
    border-radius: 1em;
	object-fit: cover;
	transition: transform 600ms ease-in-out;
}

article img:hover {
    opacity: 60%;
    transition: 300ms ease-in-out;
	transform: scale(1.04);
}

@media (min-width: 1000px) {


}