$corporateColor: rgb(254, 192, 23);
$base: 8px;

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $base * 2;
    font-size: .9rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $corporateColor;
    transition: background-color 350ms ease;
    border-bottom: 1px solid #2e2e2e;

    &.goto_white {
        background-color: #fff;
        transition: background-color 350ms ease;
    }

    .header_holder {
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header_brand {
            img {
                width: 160px;
            }
        }

        .header_navi {
            display: flex;
            justify-content: space-between;
            align-items: center;

            ul.header_navigation_items {
                width: 100%;
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;
                list-style: none;

                li.header_navigation_item {
                    margin-left: 1.5rem;
                    a {
                        color: rgb(41, 41, 41);
                        text-decoration: none;
                    }
                }
            }

            .header_cta {
                margin-right: 1em;
                align-items: center;
                
                .boton_verde {
                    padding: $base $base * 3;
                    background-color: rgb(26, 26, 26);
                    border: none;
                    border-radius: .2rem;
                    color: white;
                    width: 130%;

                    &.goto_green {
                        background-color: rgb(25, 145, 9);
                        transition: background-color 350ms ease;
                    }
                }
            }
        }
    }
}